extends layout

block content

    <div class="row header-user-info">
        <div class="col-3">
            img(class="user-id-img", src="https://api.kwelo.com/v1/media/identicon/" + user.address)
        </div>

        <div class="col-9">
            p Current user: #{showAddress(user.address)}

            p 
              a(href='/follow') Following #{user.following.length} addresses

            a(href="/login/logout", class="text-danger") Logout
        </div>
    </div>

    include feed_cards.pug

    button(class="load-more btn btn-info") Load more

    script(src='/js/loader.js')