//- each trade in nftTrades
//-     hr
//-     p address: #{trade.requestedForAddress}
//-     p block: #{trade.blockNumber}
//-     p time: #{trade.timeStamp}
//-     p txHash: #{trade.txHash}
//-     p txValue: #{trade.txValue}
//-     p fromAddress: #{trade.tradeFrom}
//-     p toAddress: #{trade.tradeTo}
//-     p nftContractAddress: #{trade.nftContractAddress}
//-     p nftName: #{trade.nftName}
//-     p nftSymbol: #{trade.nftSymbol} 
//-     p nftTokenId: #{trade.nftTokenId}
//-     //- p nftTokenMetadata: #{trade.nftTokenMetadata}
//-     img(src=trade.nftTokenMetadata.image, height=300)
//-     p name: #{trade.nftTokenMetadata.name}
//-     p description: #{trade.nftTokenMetadata.description}

each trade in nftTrades
    <div class="row">
        <div class="col-12">
        <div class="card">
            <div class="card-top">
                <div class="row">
                    <div class="col-2">
                    img(class="card-top-id-img", src="https://api.kwelo.com/v1/media/identicon/" + trade.requestedForAddress)
                    </div>
                    <div class="col-7 card-top-address">
                        //- span #{showAddress(trade.requestedForAddress)}
                        div(class="card-top-address") #{trade.requestedForAddress}
                    </div>
                    
                    if (trade.requestedForAddress == trade.tradeTo) 
                        <div class="col card-top-price text-success">
                            small(class="") bought
                            br
                            <b>#{(trade.txValue / 1000000000000000000).toFixed(3)}</b> <i class="fab fa-ethereum"></i>
                        </div>
                    else 
                        <div class="col card-top-price text-danger">
                            small(class="") sold
                            br
                            <b>#{(trade.txValue / 1000000000000000000).toFixed(3)}</b> <i class="fab fa-ethereum"></i>
                        </div>
                </div>
            </div>
            
            img(class="card-img", src=trade.nftTokenMetadata.image, alt=trade.nftTokenMetadata.image)

            <div class="card-body">
                h4(class="card-title") #{trade.nftTokenMetadata.name}
                <small class="text-muted cat">
                    span #{trade.nftTokenMetadata.description}
                </small>
                <p class="card-text">
                    <i class="fas fa-images text-info"></i> 
                    a(href="https://etherscan.io/address/" + trade.nftContractAddress) #{trade.nftName}
                    <i class="fas fa-hashtag text-info nft-token-id"></i> 
                    span #{trade.nftTokenId}
                </p>
                <small class="text-muted">
                    span txHash: 
                    a(href="https://etherscan.io/tx/" + trade.txHash) #{trade.txHash.slice(0,20)}
                    br
                    span txDate: #{(new Date(trade.timeStamp * 1000)).toLocaleString()}
                </small>
            </div>
        </div>
        </div>
    </div>