extends layout

block content

    if error_message
      <div class="alert alert-danger" role="alert">
        p #{error_message}
      </div>

    if success_message
      <div class="alert alert-success" role="alert">
        p #{success_message}
      </div>

    <div class="row header-user-info">
        <div class="col-3">
            img(class="user-id-img", src="https://api.kwelo.com/v1/media/identicon/" + user.address)
        </div>

        <div class="col-9">
            p Current user: #{showAddress(user.address)}

            p 
              a(href='/') Back to feed

            a(href="/login/logout", class="text-danger") Logout
        </div>
    </div>

    p You are following #{user.following.length} addresses:

    <ul class="list-group list-group-horizontal">
      each follow in user.following
        <li class="list-group-item">
          //- span #{showAddress(follow.address,10,10)}
          <div class="row">
            <div class="col-1">
              img(class="follow-img", src="https://api.kwelo.com/v1/media/identicon/" + follow.address)
            </div>
            <div class="col-7">
              div(class="follow-address") #{follow.address}
            </div>
            <div class="col-3">
               br
               a(href="/follow/delete/"+follow.address) unfollow
            </div>
          </div>
        </li>
    </ul>

    <br/><br/><br/>
    p Add new address to follow:
    form(class="form-addfollow" method="POST" action="/follow/addAddress")
        input(type="text" name="newAddress" id="newAddress" class="form-control" placeholder="0x0" required autofocus)
        br
        button(type="submit" class="btn btn-success") Add address