doctype html
html

  - function showAddress(address,x=7,y=5) { return address.slice(0,x)+"..."+address.slice(-y); }

  head
    title= title
    <meta name="viewport" content="width=device-width, initial-scale=1">
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='/js/scripts.js')

  body
    block content
