extends layout

block content

  if error_message
    <div class="alert alert-danger" role="alert">
      p #{error_message}
    </div>

  <div class="container">
     <div class="row">
          h2(class="text-center") NFT Track 
     </div>
     br
     <div class="row">
        form(class="form-signin" method="POST" action="/login")
            <div class="form-group">
              label(for="inputEmail") Log in with ethereum address
              input(type="text" name="userAddress" id="userAddress" class="form-control login-input" placeholder="0x0" required autofocus)
              br
              button(type="submit" class="btn btn-info") Log in
            </div>
     </div>
     <br/><br/><br/><br/><br/><br/><br/>
     p Quick login with test addresses: 
     ul 
      li 
        form(class="form-signin" method="POST" action="/login")
            <input type="hidden" name="userAddress" value="0xaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa" />
            button(type="submit" class="btn btn-link") 0xaaaaaaaaaaaaaa...
      li 
        form(class="form-signin" method="POST" action="/login")
            <input type="hidden" name="userAddress" value="0xbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb" />
            button(type="submit" class="btn btn-link") 0xbbbbbbbbbbbbbb...
  </div>

  

  
