body {
  padding: 50px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #F5F5F5;
}

a {
  color: #00B7FF;
}

.follow-img {
  height: 1.5rem;
}

.follow-address {
  font-size: 10px;
}

.login-input {
   font-size: 10px;
   width: 300px;
}

.header-user-info {
   margin-bottom: 2rem;
}

.user-id-img {
    height: 4rem;
    border-radius: 50%;
    border: solid 2px;
}

.card-top {
   padding: 0.5rem;
}

.card-top-id-img {
   height: 2.5rem;
}

.card {
   margin-bottom: 1rem;
}

.card-img {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  max-height: 300px;
}

.card-title {
  margin-bottom: 0.3rem;
  font-size: 2rem;
}

.card-top-address {
   padding-top: 0.1rem;
}

.card-top-price {
  margin-top: 0rem;
  
}

.cat {
  display: inline-block;
  margin-bottom: 1rem;
}

.nft-token-id {
  margin-left: 2rem;
}

.card-footer {
  font-size: 0.8rem;
}

.load-more {
  width: 100%;
}